* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

a:hover {
  color: gray;
}

footer {
  /* padding: 10px; */
  margin: 15px;
}

.logo {
  padding: 40px;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login {
  color: #083e9e;
  font-weight: 700 !important;
  font-size: 20px !important;
  word-spacing: 2px;
}

.loginText {
  color: #4a5568;
  font-family: "Karla", sans-serif;
  font-size: 14px;
}

.font-display {
  font-family: "Arvo", serif;
  font-size: 12px;
  font-weight: 600;
}

form {
  /* background-color: #edf2f7; */
  /* padding: 18px 1rem; */
  /* margin: 1em;
  border: 0 solid #edf2f7;
  outline: none;
  font-size: 100%; */
}

input {
  display: block;
  border: none;
  padding: 18px 1rem;
  margin: 1em;
  border: 1 solid #edf2f7;
  outline: none;
  font-size: 100%;
  background-color: #edf2f7;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
}
input[type="password"] {
  width: 100%;
  padding: 10px;
}

label {
  color: #4a5568;
}

.con {
  padding: 0 0 2em;
  text-align: center;
}

.sec1 {
  background-color: #fff;
  margin: 0 auto;
  padding: 2.8rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password {
  margin-bottom: 1em;
}

button {
  border: none;
  background-color: #0d60d8;
  padding: 18px 11em;
  justify-content: center;
  margin: 1em;
  border-radius: 0.8rem 0.6rem 0.6rem 0;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .sec1 {
    padding: 2.3rem;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
  }

  button {
    padding: 16px 9em;
  }

  input {
    width: 100%;
  }
}
